html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  position: absolute;
  z-index: 1;          /* put SVG above the map */
  width: 100%;
  height: 100%;
  pointer-events: none; /* let map panning/zoom still work */
}

#map svg circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

#map svg circle {
  fill: var(--color);
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 1px;
  pointer-events: auto;
}


.legend {
  display: flex;
  gap: 1px;
  margin-block: 1rem;
  font-size: 0.875rem;
  text-align: center;
}

.legend > div {
  flex: 1;
  padding: 0.25rem 11rem;
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );

  background-color: var(--color);
  color: white;
  font-weight: 500;
}
